button {
    width: 40%;
    height: 40%;
    margin-bottom: 15vh;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 700;
    border-radius: 20px;
    display: flex;
    
}

.socials {
    display: flex;
    font-size: larger;
    justify-content: center;
    margin: 0;
    align-items: center;
}

.socials a svg {
    padding-left: 1vh;
    width: 2rem;
}

p {
    margin: none;
}

.cv {
    display: flex;
    justify-content: center;
}